# =========================
# R temporary files
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# =========================
# System files
# =========================
desktop.ini
.DS_Store
Thumbs.db

# =========================
# Temporary render files
# =========================
*.knit.md
*.log
*.tmp

# =========================
# Raw data (NO subir)
# =========================
GEO_raw/
raw_data/
data/raw/

# =========================
# Intermediate objects (reproducibles)
# =========================
SummarizedExperiment_objects/
intermediate/
tmp/

# =========================
# R objects (por defecto NO subir)
# =========================
*.rds
*.RData

# =========================
# EXCEPCIONES (SÍ subir)
# =========================
# Dataset integrado principal
!integrated_dataset/se_integrated_geo_tumor.rds

# Dataset tumoral corregido (clave para análisis)
!resultados/batch_correction_geo_tumor/se_integrated_geo_tumor_batch_corrected_limma.rds

# =========================
# Resultados duplicados dentro de scripts
# =========================
scripts/integration/results/

# =========================
# Código antiguo
# =========================
scripts/integration/deprecated/
scripts/GEO/GSE91061/scripts_old/